@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:wght@100;400&display=swap');
@font-face{
    font-family: Aspect-range-demo;
    src: url(ASPECT-RANGE-DEMO-BF649422af9495a.ttf);
    font-family: Andora-Modern-Serif;
    src: url(Andora-Modern-Serif.otf);
}
body{
    margin: 0;
}
nav{
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    padding-left: 38px;
}
.link{
    align-items: center;
    list-style: none;
    justify-content: space-between;
    display: flex;
    gap: 9rem;
    padding-right: 45px;
    font-size: large;     
    font-family: calibri;
    font-weight: 200;
}

 
.links>a{
    text-decoration: none;
    color: #2D4A3A;
}     
.links>a:hover{
    color: rgb(223, 168, 52);
}
.links{
    color: #2D4A3A;
}
.links:hover{
    color: rgb(223, 168, 52);
}
img{
    height: 100px;
    
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 780px;
object-fit: cover;
}
.swiper-button-prev{
color: white;
}
.swiper-button-prev:hover{
color: grey;
}
.swiper-button-next{
color: white;
}
.swiper-button-next:hover{
color: grey;
}
p{
    font-family: calibri;
  font-weight: 200;
  font-style: normal;
    display: flex;
    text-align: center;
    width: 70%;
    font-size: larger;
}
.container1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container2{
    width: 100%;
    height: 500px;
    background-color: #E7E3D8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.Ankit{
    height: 420px;
    width: 300px;
}
.ankit2{
    display: flex;
        font-family: calibri;
        width: 560px;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
}
.ankit3{
    font-family: "Playfair Display", serif;
    font-size: x-large;
}
h1{
    display: flex;
    justify-content: center;
    font-family:Aspect-range-demo;
    font-weight: 100;
}
.parallax-1{
    background: url('005.jpg') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
.parallax-inner{
    padding-top: 15%;
    padding-bottom: 15%;
}
h3{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    font-family: Andora-Modern-Serif;
    text-align: center;
    font-size: xxx-large;
}
.container3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.parallax-2{
    background: url('004.jpg') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
}
